<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>피자 주문 페이지</title>
</head>
<body>

  <h1>피자 주문 페이지</h1>

  <h3>오늘의 날짜</h3>
  <fieldset>
    <legend>주문자 정보</legend>



    <div>
      <b>이름</b> <input type="text">
      <label for="userName"></label> <br>
      <b>전화번호</b> <input type="text">
      <label for="phone"></label><br>
      <b>주소</b><input type="text">
      <label for="address"></label><br>
      <b>요청사항</b><input type="text">
      <label for="message"></label><br>
    </div>
  </fieldset>

  <fieldset>
    <legend>주문정보</legend>
    <div>
      <b>피자</b>
      <b>토핑</b>

    </div>
  </fieldset>


  <input type="submit">
  <button>주문</button>

  <input type="reset">
  <button>초기화</button>

</body>
</html>