<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>POST 방식 테스트 요청 페이지</title>
</head>
<body>
	<h1>POST 방식으로 요청 후 응답페이지 받아보기</h1>
	
	<p>
		특징1.POST 방식으로 요청하는건 URL의 BODY 영역에 데이터를 포함시켜서 요청한다 <br>
		- 사용자가 입력한 값(데이터)들이 URL에 노출되지 않음<br>
		- 로그인이나 회원가입 같은 경우 POST방식이 적합하다. <br><br>
		
		특징2. BODY 영역은 전송하는 길이 제한이 없다 <br>
		- 게시판 작성같은 경우 POST 방식이 용이하다. <br>
		
		특징3. 즐겨찾기는 가능하지만 전달되는 데이터가 URL에 노출되어있지 않아서 GET방식으로 했던것처럼 기존의 검색결과를 볼 수 없음 <br><br>
		
	</p>
	
	<h2>개인 정보 입력 - POST</h2>
	
	<!--  
	
		상대경로 방식(문구로 시작되는경우) : 현재 이 페이지가 보여질 때의 url경로 중 마지막 / 로부터 그 뒤에 action에 작성한 값이 붙어지면서 요청된다.
	-->
	
	<form action="/1_Servlet/test2.do" method="post">
		<ul>
			<li>
				이름 : <input type="text" name="name"> <!--input태그 사용시 keyr값은 name으로 선택되니 반드시 만들어 넘겨야한다-->
			</li>
			<li>
				성별:
				<label for="gender">남자</label><input type="radio" name="gender" id="gender" value="M">
				<label for="gender">여자</label><input type="radio" name="gender" id="gender" value="F">
				<!--radio 버튼은 같은 묶음으로 묶음시 name도 동일하게 작성 넘어갈 value 값도 설정-->
			</li>
			<li>
				나이 : <input type="number" name="age" id="">
			</li>
			<li>
				사는 지역:
				<select name="country" id="">
					<option>서울</option>
					<option>경기</option>
					<option>강원</option>
					<option>부산</option>
					<option>대구</option>
					<option>울산</option>
					<option>광주</option>
				</select>
			</li>
			<li>
				키 : <input type="range" name="height" min="100" max="300" id="">
			</li>
			<li>
				좋아하는 음식 (모두 고르시오) :
				한식<input type="checkbox" name="food" value="한식">
				중식<input type="checkbox" name="food" value="중식">
				일식<input type="checkbox" name="food" value="일식">
				양식<input type="checkbox" name="food" value="양식">
				분식<input type="checkbox" name="food" value="분식">
				<!-- checkbox 사용시 같은 묶음으로 묶어줄경우 radio버튼과 마찬가지로 key값을 동일하게 지정한다.
				단, 한개의 key값에 여러개의 value가 묶여 남겨진다-->
			</li>
			<li>
				<input type="submit" value="전송하기">
				<input type="reset" value="다돌려놔">
			</li>
		</ul>
		
	
	</form>
</body>
</html>